# 6.7 Data for Heatmap

## This Script Contains the Following points

### 1. Importing Libraries
### 2. Importing  and Checking Data sets
### 3. Correlation Heatmap Prep Data and Merge





### 4. Export Data to pickle files

### 1. Importing Libraries

In [1]:
# Import Libraries with visualization capabilities
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 2. Importing and Checking Data sets

In [2]:
# Import .pkl files

#First create a string of the path for th emain project folder
path = r'/Users/mistystone/Library/CloudStorage/OneDrive-Personal/Documents/CF_Data_Ach6_Dashboard/Economic_Freedom_Analysis/'

#Import Data
df_EconFreeData = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'EconFreeData.pkl'))
df_GDP = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','GDP.pkl'))
df_Pop = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','Pop.pkl'))
df_CPI = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','CPI.pkl'))
df_Unemployment = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','Unemployment.pkl'))
df_Education = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','Education.pkl'))
df_Continent = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','Continent.pkl'))
df_IncomeGroup = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','IncomeGroup.pkl'))
df_Indicators= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','Indicators.pkl'))

In [3]:
# Check heads

print(df_EconFreeData.head(5))
print()
print(df_GDP.head(5))
print()
print(df_Pop.head(5))
print()
print(df_CPI.head(5))
print()
print(df_Unemployment.head(5))
print()
print(df_Education.head(5))
print()
print(df_Continent.head(5))
print()
print(df_IncomeGroup.head(5))
print()
print(df_Indicators.head(5))

   Year    Country  Economic Freedom Summary Index   Rank  Quartile
0  2021    Albania                            7.60   31.0       1.0
1  2021    Algeria                            4.82  157.0       4.0
2  2021     Angola                            5.38  149.0       4.0
3  2021  Argentina                            4.77  158.0       4.0
4  2021    Armenia                            7.58   33.0       1.0

       Country  Year  GDP_PerCapita  GDP_2010Prices_Millions
0  Afghanistan  1995          152.0                   6335.0
1  Afghanistan  2005          242.0                   9596.0
2  Afghanistan  2010          504.0                  14744.0
3  Afghanistan  2015          544.0                  18713.0
4  Afghanistan  2018          496.0                  19738.0

          Country  Year  Pop_mill  Pop_male_mill  Pop_female_mill  \
0     Afghanistan  2010     28.19          14.24            13.95
1         Albania  2010      2.91           1.46             1.45
2         Algeria  2010     35.86          18.28            17.57
3  American Samoa  2010      0.05           0.03             0.03
4         Andorra  2010      0.07           0.04             0.04

   Pop_0_14_per  Pop_60_plus_per  Pop_density  Surface_area_thou_km2
0          49.0              3.8         43.4                    NaN
1          21.0             16.2        106.3                    NaN
2          27.6              7.1         15.1                    NaN
3          34.6              6.7        274.2                    NaN
4          16.3             15.3        152.2                    NaN

                 Country  Year  CPI_General  CPI_Food
0  Aland Islands Islands  2000         85.6      83.4
1                Albania  2000         74.1       NaN
2                Algeria  2000         70.4       NaN
3                 Angola  2000          2.9       NaN
4               Anguilla  2000         68.4       NaN

       Country  Year  Unemp_Male  Unemp_Female  Unemp_Total
0  Afghanistan  2005        10.6          14.3         11.2
1      Albania  2005        15.6          16.4         16.0
2      Algeria  2005        14.9          17.2         15.3
3       Angola  2005         4.7           3.0          3.9
4    Argentina  2005        10.0          13.6         11.5

               Country  Year  Enroll_Ratio_Primary_Female  \
0  Antigua and Barbuda  2000                          NaN
1              Armenia  2000                         99.3
2        Guinea-Bissau  2000                         60.6
3           Kazakhstan  2000                         97.1
4              Liberia  2000                         98.5

   Enroll_Ratio_Primary_Male  Enroll_Ratio_Secondary_Female  \
0                        NaN                           76.6
1                       98.0                           96.5
2                       90.9                           12.7
3                       96.8                           96.2
4                      133.7                           30.3

   Enroll_Ratio_Secondary_Male  Enroll_Ratio_UpperSecondary_Female  \
0                         83.0                                77.8
1                         87.8                                89.9
2                         23.6                                 7.5
3                         91.3                               102.0
4                         41.4                                29.5

   Enroll_Ratio_UpperSecondary_Male
0                              78.0
1                              79.8
2                              14.3
3                              94.8
4                              34.4

          Country Continent
0     Afghanistan      Asia
1   Ã…land Islands    Europe
2         Albania    Europe
3         Algeria    Africa
4  American Samoa   Oceania

       Country         Income group
0        Aruba          High income
1  Afghanistan           Low income
2       Angola  Lower middle income
3      Albania  Upper middle income
4      Andorra          High income

     Country  Landlocked?  LDC?  English?
0    Albania            0     0         0
1    Algeria            0     0         0
2     Angola            0     1         0
3  Argentina            0     0         1
4    Armenia            1     0         0

In [4]:
# Descriptive Statistics

print('df_EconFreeData.describe()')
print(df_EconFreeData.describe())
print()
print('df_GDP.describe()')
print(df_GDP.describe())
print()
print('df_Pop.describe()')
print(df_Pop.describe())
print()
print('df_CPI.describe()')
print(df_CPI.describe())
print()
print('df_Unemployment.describe()')
print(df_Unemployment.describe())
print()
print('df_Education.describe()')
print(df_Education.describe())
print()
print('df_Continent.describe()')
print(df_Continent.describe())
print()
print('df_IncomeGroup.describe()')
print(df_IncomeGroup.describe())
print()
print('df_Indicators.describe()')
print(df_Indicators.describe())

df_EconFreeData.describe()
              Year  Economic Freedom Summary Index         Rank     Quartile
count  4620.000000                     3941.000000  3941.000000  3941.000000
mean   2004.500000                        6.531094    72.315148     2.475768
std      13.389877                        1.221003    43.216456     1.111424
min    1970.000000                        1.870000     1.000000     1.000000
25%    2000.750000                        5.780000    36.000000     1.000000
50%    2007.500000                        6.630000    71.000000     2.000000
75%    2014.250000                        7.460000   106.000000     3.000000
max    2021.000000                        9.280000   165.000000     4.000000

df_GDP.describe()
              Year  GDP_PerCapita  GDP_2010Prices_Millions
count  1481.000000    1481.000000             1.481000e+03
mean   2011.751519   14873.457124             3.250801e+05
std       8.422804   23747.766257             1.479637e+06
min    1995.000000      91.000000             2.000000e+01
25%    2005.000000    1480.000000             4.370000e+03
50%    2015.000000    4897.000000             2.011300e+04
75%    2019.000000   18350.000000             1.243810e+05
max    2020.000000  189507.000000             1.992544e+07

df_Pop.describe()
              Year     Pop_mill  Pop_male_mill  Pop_female_mill  Pop_0_14_per  \
count   926.000000   922.000000     922.000000       922.000000    922.000000
mean   2016.725702    32.482213      16.339176        16.143471     26.903688
std       4.665958   132.593201      67.920643        64.685529     10.414853
min    2010.000000     0.000000       0.000000         0.000000     11.000000
25%    2010.000000     0.412500       0.212500         0.212500     17.625000
50%    2015.000000     5.410000       2.690000         2.680000     24.900000
75%    2022.000000    20.392500      10.025000        10.390000     35.825000
max    2022.000000  1425.890000     731.180000       698.240000     49.900000

       Pop_60_plus_per   Pop_density  Surface_area_thou_km2
count       922.000000    926.000000             453.000000
mean         13.109870    442.943089             591.991170
std           8.205149   2161.030322            1792.327885
min           0.300000      0.100000               0.000000
25%           5.900000     34.225000               4.000000
50%          10.800000     90.050000              84.000000
75%          19.975000    228.475000             439.000000
max          43.700000  24779.900000           17098.000000

df_CPI.describe()
              Year   CPI_General     CPI_Food
count  1237.000000   1237.000000   811.000000
mean   2013.220695    268.354325   141.318619
std       7.240927   2883.741869   243.062678
min    2000.000000      0.000000    19.600000
25%    2005.000000     95.000000   100.000000
50%    2015.000000    108.100000   113.300000
75%    2020.000000    126.300000   134.700000
max    2021.000000  93584.200000  6268.900000

df_Unemployment.describe()
              Year  Unemp_Male  Unemp_Female  Unemp_Total
count   779.000000  774.000000    774.000000   779.000000
mean   2012.806162    7.841085     10.052842     8.525802
std       6.280476    5.951235      8.064846     6.462078
min    2005.000000    0.100000      0.300000     0.100000
25%    2005.000000    3.625000      4.300000     4.100000
50%    2010.000000    6.100000      7.300000     6.800000
75%    2015.000000   10.375000     13.200000    11.100000
max    2022.000000   36.500000     60.500000    41.400000

df_Education.describe()
              Year  Enroll_Ratio_Primary_Female  Enroll_Ratio_Primary_Male  \
count   845.000000                   818.000000                 818.000000
mean   2011.822485                   102.210880                 105.291320
std       5.525830                    15.113827                  14.037997
min    2000.000000                    16.600000                  30.100000
25%    2005.000000                    97.600000                  98.900000
50%    2010.000000                   102.200000                 103.400000
75%    2015.000000                   109.475000                 112.500000
max    2021.000000                   163.400000                 164.200000

       Enroll_Ratio_Secondary_Female  Enroll_Ratio_Secondary_Male  \
count                     710.000000                   710.000000
mean                       81.710563                    81.499859
std                        30.888435                    27.745554
min                         3.700000                     8.100000
25%                        62.025000                    62.275000
50%                        90.150000                    87.500000
75%                       101.800000                   100.775000
max                       180.400000                   173.500000

       Enroll_Ratio_UpperSecondary_Female  Enroll_Ratio_UpperSecondary_Male
count                          708.000000                        710.000000
mean                            74.658898                         72.913239
std                             37.629129                         34.986682
min                              2.900000                          5.300000
25%                             42.400000                         46.450000
50%                             80.800000                         74.200000
75%                             98.350000                         96.600000
max                            210.200000                        239.800000

df_Continent.describe()
            Country Continent
count           248       248
unique          248         7
top     Afghanistan    Africa
freq              1        60

df_IncomeGroup.describe()
       Country Income group
count      218          217
unique     218            4
top      Aruba  High income
freq         1           83

df_Indicators.describe()
       Landlocked?        LDC?    English?
count   165.000000  165.000000  165.000000
mean      0.175758    0.236364    0.393939
std       0.381772    0.426141    0.490109
min       0.000000    0.000000    0.000000
25%       0.000000    0.000000    0.000000
50%       0.000000    0.000000    0.000000
75%       0.000000    0.000000    1.000000
max       1.000000    1.000000    1.000000

### 3. Correlation Heatmap Prep Data and Merge

In [5]:
# Limit Economic Freedom index to most recent year.
df_EconFree_2021 = df_EconFreeData.loc[df_EconFreeData['Year'].isin([2021])]
df_EconFree_2021 = df_EconFree_2021.drop(['Year'], axis = 1)

In [6]:
df_EconFree_2021.head()

     Country  Economic Freedom Summary Index   Rank  Quartile
0    Albania                            7.60   31.0       1.0
1    Algeria                            4.82  157.0       4.0
2     Angola                            5.38  149.0       4.0
3  Argentina                            4.77  158.0       4.0
4    Armenia                            7.58   33.0       1.0

In [7]:
df_EconFree_2021.shape

(165, 4)

In [8]:
#Limit GDP to most recent year
df_GDP_2020 = df_GDP.loc[df_GDP['Year'].isin([2020])]
df_GDP_2020 = df_GDP_2020.drop(['Year'], axis = 1)
print(df_GDP_2020.head())
print('')
print(df_GDP_2020.shape)

        Country  GDP_PerCapita  GDP_2010Prices_Millions
6   Afghanistan          508.0                  20113.0
13      Albania         5181.0                  12541.0
20      Algeria         3368.0                 168331.0
27      Andorra        37072.0                   2648.0
34       Angola         1896.0                 105625.0

(212, 3)

In [9]:
#Limit Population to most recent year
df_Pop_2022 = df_Pop.loc[df_Pop['Year'].isin([2022])]
df_Pop_2022 = df_Pop_2022.drop(['Year'], axis = 1)
print(df_Pop_2022.head())
print('')
print(df_Pop_2022.shape)

            Country  Pop_mill  Pop_male_mill  Pop_female_mill  Pop_0_14_per  \
693     Afghanistan     41.13          20.77            20.36          43.1
694         Albania      2.84           1.42             1.42          16.1
695         Algeria     44.90          22.86            22.04          30.6
696  American Samoa      0.04           0.02             0.02          27.1
697         Andorra      0.08           0.04             0.04          12.8

     Pop_60_plus_per  Pop_density  Surface_area_thou_km2
693              3.8         63.3                    NaN
694             23.5        103.7                    NaN
695              9.7         18.9                    NaN
696             12.1        221.4                    NaN
697             21.6        169.8                    NaN

(233, 8)

In [10]:
#Limit CPI to most recent year
df_CPI_2021 = df_CPI.loc[df_CPI['Year'].isin([2021])]
df_CPI_2021 = df_CPI_2021.drop(['Year'], axis = 1)
print(df_CPI_2021.head())
print('')
print(df_CPI_2021.shape)

                    Country  CPI_General  CPI_Food
1072  Aland Islands Islands        114.7     119.8
1073                Albania        123.5     144.9
1074                Algeria        166.2     161.7
1075                Andorra        108.1     120.6
1076               Anguilla        108.5     120.4

(165, 3)

In [11]:
#Limit Unemployment to most recent year
df_Unemployment_2022 = df_Unemployment.loc[df_Unemployment['Year'].isin([2022])]
df_Unemployment_2022 = df_Unemployment_2022.drop(['Year'], axis = 1)
print(df_Unemployment_2022.head())
print('')
print(df_Unemployment_2022.shape)

         Country  Unemp_Male  Unemp_Female  Unemp_Total
591  Afghanistan        17.0          26.4         18.5
592      Albania        10.8          10.9         10.9
593      Algeria         9.9          21.5         12.2
594       Angola         7.7           8.8          8.3
595    Argentina         8.9          12.8         10.6

(188, 4)

In [12]:
#Limit Education to the year with the most data
df_Education_2005 = df_Education.loc[df_Education['Year'].isin([2005])]
df_Education_2005 = df_Education_2005.drop(['Year'], axis = 1)
print(df_Education_2005.head())
print('')
print(df_Education_2005.shape)

        Country  Enroll_Ratio_Primary_Female  Enroll_Ratio_Primary_Male  \
38  Afghanistan                         71.8                      123.1
39      Albania                        101.0                      100.4
40      Algeria                        103.3                      111.7
41     Anguilla                        114.5                      112.5
42    Argentina                        114.7                      115.8

    Enroll_Ratio_Secondary_Female  Enroll_Ratio_Secondary_Male  \
38                            9.0                         27.6
39                           76.5                         79.2
40                           82.7                         75.5
41                           94.7                         96.0
42                           96.8                         88.8

    Enroll_Ratio_UpperSecondary_Female  Enroll_Ratio_UpperSecondary_Male
38                                 4.9                              17.5
39                                56.8                              62.1
40                                62.4                              42.3
41                                93.5                              92.0
42                                75.6                              65.2

(178, 7)

In [13]:
#merge
df_recent = df_EconFree_2021.merge(df_GDP_2020, on = 'Country')

In [14]:
#check
df_recent.shape

(165, 6)

In [15]:
df_recent = df_recent.merge(df_Pop_2022, on = 'Country')
#merge with population data

In [16]:
df_recent.shape # check

(165, 13)

In [17]:
df_recent = df_recent.merge(df_CPI_2021, on = 'Country', how = 'left')
#merge with CPI. Left join keeps the countries not on the CPI list.

In [18]:
df_recent.shape # check

(165, 15)

In [19]:
df_recent = df_recent.merge(df_Unemployment_2022, on = 'Country', how = 'left')
# merge with Unemployment data

In [20]:
df_recent.shape # check

(165, 18)

In [21]:
df_recent = df_recent.merge(df_Education_2005, on = 'Country', how = 'left')
#merge

In [22]:
df_recent.shape # check

(165, 24)

In [23]:
df_recent = df_recent.merge(df_Continent, on = 'Country', how = 'left')
# merge with continent data

In [24]:
df_recent.shape # check

(165, 25)

In [25]:
df_recent = df_recent.merge(df_IncomeGroup, on = 'Country', how = 'left') # merge

In [26]:
df_recent = df_recent.merge(df_Indicators, on = 'Country', how = 'left') # merge

In [27]:
df_recent.shape # check

(165, 29)

In [28]:
df_recent.head() # check

,Country,Economic Freedom Summary Index,Rank,Quartile,GDP_PerCapita,GDP_2010Prices_Millions,Pop_mill,Pop_male_mill,Pop_female_mill,Pop_0_14_per,...,Enroll_Ratio_Primary_Male,Enroll_Ratio_Secondary_Female,Enroll_Ratio_Secondary_Male,Enroll_Ratio_UpperSecondary_Female,Enroll_Ratio_UpperSecondary_Male,Continent,Income group,Landlocked?,LDC?,English?
0,Albania,7.60,31.0,1.0,5181.0,12541.0,2.84,1.42,1.42,16.1,...,100.4,76.5,79.2,56.8,62.1,Europe,Upper middle income,0,0,0
1,Algeria,4.82,157.0,4.0,3368.0,168331.0,44.90,22.86,22.04,30.6,...,111.7,82.7,75.5,62.4,42.3,Africa,Lower middle income,0,0,0
2,Angola,5.38,149.0,4.0,1896.0,105625.0,35.59,17.59,18.00,45.0,...,NaN,NaN,NaN,NaN,NaN,Africa,Lower middle income,0,1,0
3,Argentina,4.77,158.0,4.0,8476.0,558065.0,45.51,22.53,22.98,23.1,...,115.8,96.8,88.8,75.6,65.2,South America,Upper middle income,0,0,1
4,Armenia,7.58,33.0,1.0,4266.0,11919.0,2.78,1.25,1.53,20.5,...,94.6,NaN,NaN,NaN,NaN,Asia,Upper middle income,1,0,0

In [29]:
df_recent.describe() # check

,Economic Freedom Summary Index,Rank,Quartile,GDP_PerCapita,GDP_2010Prices_Millions,Pop_mill,Pop_male_mill,Pop_female_mill,Pop_0_14_per,Pop_60_plus_per,...,Unemp_Total,Enroll_Ratio_Primary_Female,Enroll_Ratio_Primary_Male,Enroll_Ratio_Secondary_Female,Enroll_Ratio_Secondary_Male,Enroll_Ratio_UpperSecondary_Female,Enroll_Ratio_UpperSecondary_Male,Landlocked?,LDC?,English?
count,165.000000,165.000000,165.000000,165.000000,1.650000e+02,165.000000,165.000000,165.000000,165.000000,165.000000,...,164.000000,143.000000,143.000000,125.000000,125.000000,125.000000,125.000000,165.000000,165.000000,165.000000
mean,6.627576,82.975758,2.496970,14180.921212,4.872516e+05,47.252727,23.754485,23.498424,26.727879,13.769697,...,7.868902,99.442657,103.439860,76.816800,76.908800,68.780000,67.156800,0.175758,0.236364,0.393939
std,1.031493,47.595213,1.113248,19982.783382,1.948871e+06,161.088818,82.451802,78.651497,10.414446,8.795248,...,5.919621,15.818333,13.790322,31.608308,27.916286,36.584145,32.848809,0.381772,0.426141,0.490109
min,3.010000,1.000000,1.000000,118.000000,1.174000e+03,0.110000,0.060000,0.050000,11.600000,2.900000,...,0.100000,39.200000,48.000000,7.400000,11.900000,2.900000,5.300000,0.000000,0.000000,0.000000
25%,5.950000,42.000000,2.000000,1830.000000,1.336800e+04,3.740000,1.950000,1.760000,17.200000,5.900000,...,3.900000,96.750000,98.800000,54.200000,60.300000,34.000000,40.800000,0.000000,0.000000,0.000000
50%,6.640000,83.000000,2.000000,5013.000000,4.812500e+04,10.490000,5.320000,5.320000,25.400000,11.300000,...,5.900000,101.000000,102.600000,84.900000,83.300000,75.600000,71.200000,0.000000,0.000000,0.000000
75%,7.470000,124.000000,3.000000,17871.000000,2.743580e+05,33.940000,17.020000,16.780000,34.700000,22.200000,...,10.375000,106.200000,111.000000,97.900000,96.500000,95.900000,93.300000,0.000000,0.000000,1.000000
max,8.560000,165.000000,4.000000,117182.000000,1.924706e+07,1425.890000,731.180000,698.240000,48.800000,35.800000,...,33.500000,135.800000,142.000000,169.100000,151.100000,162.400000,147.200000,1.000000,1.000000,1.000000

In [36]:
# Keep only columns for heatmap.
df_recent_sub = df_recent[['Country','Economic Freedom Summary Index','CPI_Food', 'Enroll_Ratio_UpperSecondary_Female', 'GDP_PerCapita',
                          'Landlocked?', 'LDC?', 'Pop_0_14_per', 'Pop_60_plus_per', 'Unemp_Total']]

In [37]:
# check
print(df_recent_sub.head(10))
print(df_recent_sub.shape)

      Country  Economic Freedom Summary Index  CPI_Food  \
0     Albania                            7.60     144.9
1     Algeria                            4.82     161.7
2      Angola                            5.38       NaN
3   Argentina                            4.77     517.0
4     Armenia                            7.58       NaN
5   Australia                            8.05     117.9
6     Austria                            7.69     124.8
7  Azerbaijan                            5.99     188.5
8     Bahamas                            6.55       NaN
9     Bahrain                            7.44     126.6

   Enroll_Ratio_UpperSecondary_Female  GDP_PerCapita  Landlocked?  LDC?  \
0                                56.8         5181.0            0     0
1                                62.4         3368.0            0     0
2                                 NaN         1896.0            0     1
3                                75.6         8476.0            0     0
4                                 NaN         4266.0            1     0
5                                 NaN        55823.0            0     0
6                                94.3        48106.0            0     0
7                                 NaN         4202.0            1     0
8                                82.6        25194.0            0     0
9                                97.3        19925.0            0     0

   Pop_0_14_per  Pop_60_plus_per  Unemp_Total
0          16.1             23.5         10.9
1          30.6              9.7         12.2
2          45.0              4.3          8.3
3          23.1             16.2         10.6
4          20.5             20.3         20.8
5          18.2             22.6          5.0
6          14.4             26.7          5.4
7          23.5             12.5          6.6
8          19.1             13.9         12.9
9          20.2              6.9          1.8
(165, 10)

In [38]:
# Storing measure / numerical column names in "measure_cols' list
measure_cols = [i for i in df_recent_sub.select_dtypes(include=np.number).columns]
measure_cols

['Economic Freedom Summary Index',
 'CPI_Food',
 'Enroll_Ratio_UpperSecondary_Female',
 'GDP_PerCapita',
 'Landlocked?',
 'LDC?',
 'Pop_0_14_per',
 'Pop_60_plus_per',
 'Unemp_Total']

In [39]:
# Storing categorial column naes in "cat_cols" list
cat_cols = [i for i in df_recent_sub.columns if i not in measure_cols]
cat_cols

['Country']

In [40]:
# Data to long format -- check
df_recent_sub.melt(id_vars=cat_cols)

        Country                        variable  value
0       Albania  Economic Freedom Summary Index   7.60
1       Algeria  Economic Freedom Summary Index   4.82
2        Angola  Economic Freedom Summary Index   5.38
3     Argentina  Economic Freedom Summary Index   4.77
4       Armenia  Economic Freedom Summary Index   7.58
...         ...                             ...    ...
1480  Venezuela                     Unemp_Total   5.50
1481    Vietnam                     Unemp_Total   2.30
1482      Yemen                     Unemp_Total  13.30
1483     Zambia                     Unemp_Total  13.00
1484   Zimbabwe                     Unemp_Total   5.00

[1485 rows x 3 columns]

### 4. Exporting data to csv file

In [42]:
# Exporting data in long format

df_recent_sub.melt(id_vars=cat_cols).to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'pivoted_churn.csv'))